.mint {
  color: #f85109;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
}

.tittle {
  text-shadow: 2px 2px black;
}

.desc {
  text-shadow: 2px 1px black;
  font-weight: bold;
  letter-spacing: 2px;
}

.gif {
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .mint {
    height: auto;
  }
  .logo {
    width: 100%;
  }
  .gif {
    margin-top: 20px;
  }
  .tittle {
    font-size: 50px !important;
    text-align: center;
  }

  .desc {
    text-align: justify;
  }
}
