@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: Pixeboy;
  src: url("assets/Pixeboy.ttf");
}

body {
  margin: 0;
  height: 100%;
  font-family: Pixeboy, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/image/background.jpeg");
  background-size: cover;
  color: #ffffff;
}
